.CustomSider {
    .logo  {
        width:100%;
        padding:1em;
        height:200px;
    }
    .logo img{
        margin:0 auto;
        display:block;
        width: 80%;
        height:70%;
     
    }
}